<div class="container">
    <h2>Dance lessons on offer:</h2>
    <% @dance_lessons.each do |lesson| %>
     <div class="card-product">
      <%= cl_image_tag lesson.photo.key, height: 300, width: 400, crop: :fill%>
       <div class="card-product-infos">
         <h2><%= lesson.name %></h2>
         <p><%= lesson.description %></p>
         <p><%= lesson.level %></p>
         <%= link_to "Join now", dance_lesson_path(lesson), class: "btn btn-danger mt-4"%>
       </div>
     </div>
     <br>
     <br>
    <% end %>

</div>





