<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @dance_lesson.photo.key %>);">
  <div class="container">
    <h1><%= @dance_lesson.name %></h1>
    <p><%= @dance_lesson.description %></p>
  </div>
</div>

<div class="container m-5">
  <div class="row">
    <div class="col-6">
      <h2>Book a class</h2>
      <%= render 'shared/bookings_form', dance_lesson: @dance_lesson, booking: @booking %>
      <%= link_to "Back to all classes", root_path, class: "btn btn-danger my-5" %>
    </div>
  </div>
</div>

