<div class="container">
  <div class="row">

    <div class="col-12 col-md-6">
    <% if @user.dance_lessons.empty? %>
    <h3 class="mt-4">Please add some dance lessons:</h3>
      <%= link_to "Add a new dance lesson", new_dance_lesson_path(@dance_lesson), class: "btn btn-outline-danger"  %>
    <% else %>

      <% if @user.dance_lessons %>
      <h3 class="my-4">My advertised dance lessons</h3>

          <%= link_to "Add a new dance lesson", new_dance_lesson_path(@dance_lesson), class: "btn btn-outline-danger mb-3"  %>

      <% @user.dance_lessons.each do |lesson| %>

      <div class="d-flex">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url(<%= cl_image_path lesson.photo.key %>)">
        <%= link_to dance_lesson_path(lesson) do %>
        <h2><%= lesson.name %></h2>
      </div>
      <% end %>

      <div>
        <ul class="no-bullets">
          <% if policy(lesson).edit? %>
          <li>
            <%= link_to "Edit your dance lesson", edit_dance_lesson_path(lesson) %>
            <% end %>
          </li>
          <li>
           <% if policy(lesson).destroy? %>
           <%= link_to "Delete your dance lesson", dance_lesson_path(lesson), method: :delete, data: { confirm: "Are you Sure?" } %>
           <% end %>
         </li>
      </ul>
    </div>
  </div>
  <% end %>
  <% end %>
<% end %>
</div>


<div class="col-12 col-md-6">
<% if @user.bookings.empty? %>
<h3 class="mt-4">Please book some dance lessons:</h3>
  <%= link_to "Back to all dance lessons", root_path, class: "btn btn-outline-danger" %>
<% else %>
  <% if @user.bookings %>
  <h3 class="my-4">My booked dance lessons</h3>

  <% @user.bookings.each do |booking| %>

  <div class="d-flex">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url(<%= cl_image_path booking.dance_lesson.photo.key %>)">
    <h2><%= booking.dance_lesson.name %></h2>
  </div>

  <div>
    <ul class="no-bullets">
      <li>
        <%= booking.dance_lesson.name %> - <%= booking.date %>
      </li>
      <li>
        <%= booking.dance_lesson.address %>
      </li>
    </ul>
  </div>
</div>
<% end %>
<% end %>
<% end %>
</div>



</div>

</div>
